<%= form_for @task, url: {action: 'update'}, method: 'PATCH' do |f| %>
  name : <%= f.text_field :name%><br />
  description : <%= f.text_area :description %><br />
  status    : <%= f.select :status, "<option>new</option>
  <option>visited</option>
  <option>paid</option>
  <option>done</option>
  <option>closed</option>
  ".html_safe, multiple: false %><br />
  <%= f.submit 'Save' %>
<% end %>