<h1>Listing tasks</h1>

<table>
  <thead>
  <tr>
    <th>Task</th>
    <th>Client</th>
    <th>Status</th>
    <th>Description</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.name %></td>
      <td><%= task.user.name %></td>
      <td><%= task.description %></td>
      <td><%= task.status %></td>
      <td><%= link_to 'Show', client_task_path(task) %></td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'New Task', new_client_task_path %>