name :<br /> <%= @task.name%>
<br />-----------------------------------------<br />
description :<br /> <%= @task.description %>
<br />-----------------------------------------<br />
status :<br /> <%= @task.status %>
<br />-----------------------------------------<br />
user    :<br /> <%= @task.user.name%>
<br />-----------------------------------------<br />

<br />

Messges<br />
-----------------------------------------<br />
<% Message.where(task: @task).each do |message| %>
  from : <%= message.user.name %><br />
  text : <%= message.text_message %><br />
  -----------------------------------------<br />
<% end %>


<%= form_for @new_message, url: client_messages_path do |f| %>
  text : <%= f.text_field :text_message%>
  <%= f.hidden_field_tag(:task_id, @task.id) %>
  <%= f.submit 'Save' %><br />
<% end %>
<br />