<%= simple_form_for( @task, url: admin_tasks_path) do |f| %>
  <%= f.input :name%><br />
  <%= f.input :description %><br />
  <%= f.input :status, ptiority: ["new"], collection: ["new", "visited", "done", "paid", "closed"], include_blank: false %>
  <%= f.button :submit, 'Save' %>
<% end %>