<%= simple_form_for @user do |f| %>
  <%= f.input :email %>
  <%= f.input :encrypted_password %>
  <%= f.input :role, priority: [ "users" ], collection: [ "users", "admin" ] %>
  <%= f.button :submit %>
<% end %>