<%= simple_form_for(@user, url: admin_users_path) do |f| %>
  <%= f.input :email%><br />

  <%= f.input :password%><br />

  <%= f.input :company%><br />

  <%= f.input :name%><br />

  <%= f.input :phone%><br />

  <%= f.input :site%><br />

  <%= f.input :description%><br />

  <%= f.input :admin%><br />

  <%= f.button :submit, 'Save' %>
<% end %>