<%= form_for @user, url: admin_users_path do |f| %>
  email: <%= @user.email%><br />
  company : <%= @user.company %><br />
  description : <%= @user.description %><br />
  name : <%= @user.name %><br />
  phone : <%= @user.phone %><br />
  site : <%= @user.site %><br />
  admin    : <%= @user.admin%><br />
  last visit : <%= @user.last_sign_in_at %>
<% end %>