<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "TestTask" %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "application", :media => "all" %>


  <%= javascript_include_tag "application" %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
  <![endif]-->
</head>
<body>

<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">TestTask</a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <% if current_user.try(:admin) %>
            <li>
              <%= link_to('users', admin_users_path, method: :get) %>
            </li>
            <li>
              <%= link_to('tasks', admin_tasks_path, method: :get) %>
            </li>
          <% else %>
            <li>
              <%= link_to('tasks', client_tasks_path, method: :get) %>
            </li>
          <% end %>
          <li>
            <%= link_to('sign out', destroy_user_session_path, method: :delete) %>
          </li>
        <% else %>
          <li><%= link_to 'sign in', "/users/sign_in"  %></li>
          <li><%= link_to 'sign up', "/users/sign_up"  %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
    <div class="col-lg-3">
      <!--<div class="well sidebar-nav">
            <h3>Sidebar</h3>
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li><%= link_to "sign in", "/users/sign_in"  %></li>
              <li><%= link_to "sign up", "/users/sign_up"  %></li>
            </ul>
          </div>--><!--/.well -->
    </div><!--/span-->
  </div><!--/row-->

  <footer>
    <p>&copy; Company 2018</p>
  </footer>

</div> <!-- /container -->

</body>
</html>
